<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new task</title>
</head>
<body>

<form method="POST" th:action="@{/tasks/add/}" th:object="${task}">
    <input class="form-control" th:field="*{id}" type="hidden">
    <input name="name" placeholder="Введите имя задачи" th:field="*{name}" type="text"/>
    <br/>
    <select th:name="ownerId">
        <option th:each="emp : ${employees}" th:selected="${task.getOwner().getId() == emp.getId()}"
                th:text="${emp.name}" th:value="${emp.getId()}"></option>
    </select>
    <br/>
    <select th:name="assigneeId">
        <option th:each="emp : ${employees}" th:selected="${task.getAssignee().getId() == emp.getId()}"
                th:text="${emp.name}" th:value="${emp.getId()}"></option>
    </select>
    <br/>
    <input name="description" placeholder="Введите описание" th:field="*{description}" type="text"/><br/>
    <br/>
    <select th:name="status">
        <option th:each="status : ${taskStatuses}" th:selected="${task.getStatus() == status}"
                th:text="${status.getStatusName()}" th:value="${status}"></option>
    </select>

    <input type="submit"/>
</form>

</body>
</html>